<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dzah-hibernate1/src/main/java/com/ch/wchhuangya/dzah/hibernate/EventManager.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ch.wchhuangya.dzah.hibernate.EventManager"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="list"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dzah-hibernate1"/>
</launchConfiguration>
